<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="main@yourproject.undefined" name="main" createdate="2019-01-01">
        <version date="2019-01-01">0.1pre</version>
        <label lang="en_US">main</label>
        <description lang="en_US" />
        <license URL="">MIT license. See LICENSE file</license>
        <copyright></copyright>
        <creator name="your name" email=""/>
        <!--<contributor name="hisname" email="hisemail@yoursite.undefined"/>-->
        <homepageURL></homepageURL>
    </info>
    <dependencies>
        <jelix minversion="1.7.0-beta.5" maxversion="1.7.*"/>
    </dependencies>
    <!--
    <autoload>
        <psr4 namespace="\My\Namespace" dir="./"/>
    </autoload>
    -->
</module>
